<launch>

    <!-- RosBridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Joy -->
    <node pkg="joy" type="joy_node" name="joy_node" />

    <!-- RealSense -->
    <include file="$(find proto2_bringup)/launch/realsense.launch" />

    <!-- IMU -->
    <include file="$(find proto2_bringup)/launch/imu.launch" />

    <!-- all control -->
    <node pkg="proto2_base" type="proto2" name="proto2" output="screen" />

    <!-- vision -->
    <node pkg="proto2_vision" type="object_detection_server_tflite.py" name="object_detection_server" output="screen" />
    <!-- <node pkg="proto2_vision" type="strategy_for_preliminary.py" name="strategy_for_preliminary" output="screen" /> -->
    <!-- <node pkg="proto2_vision" type="strategy_for_battle.py" name="strategy_for_battle" output="screen" /> -->

</launch>
