<launch>

    <!-- RosBridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Joy -->
    <node pkg="joy" type="joy_node" name="joy_node" />

    <!-- RealSense -->
    <include file="$(find proto2_ros)/launch/realsense.launch" />

    <!-- IMU -->
    <include file="$(find proto2_ros)/launch/imu.launch" />

    <!-- all control -->
    <node pkg="proto2_ros" type="proto2" name="proto2" output="screen" />

</launch>
